@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif !important;
}

span {
  font-family: inherit;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}